#
# Copyright (c) 2022-2025 - for information on the respective copyright owner
# see the NOTICE file and/or the repository https://github.com/carbynestack/carbynestack.github.io.
#
# SPDX-License-Identifier: CC-BY-4.0
#
name: 'Auto Labeler'

on:

  # Allow workflow to be triggered manually
  workflow_dispatch:

  issues:
    types:
      - reopened
      - opened

jobs:
  
  # re-usable workflow @see https://docs.github.com/en/actions/using-workflows/reusing-workflows
  auto-labeling:
    uses: carbynestack/.github/.github/workflows/auto-labeler.yml@master
